h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
p {
    font-size: 14px;
}

/* Header */
header {
    padding: 30px 0;
}
.call-btn {
    padding: 10px 20px;
    border: 1px solid #eee;
    border-radius: 50px;
    color: inherit;
}

/* Sub title */
.subTitle {
    padding: 50px 0;
    background-color: royalblue;
    color: #fff;
}
.mg100 {
    margin: 100px 0;
}
/* Section 1 */
.section1 h2 {
    color: royalblue;
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 20px;
}
.fa-solid {
    font-size: 60px;
    color: royalblue;
}
/* Section 2 */
.section2 h3 {
    margin-top: 20px;
}
/* Section 3 */
.b-radius p {
    border: 1px solid #eee;
    border-radius: 30px;
    padding: 30px;
}
/* Footer */
footer {
    background-color: royalblue;
    color: #fff;
    padding: 50px 0;
}


@media screen and (max-width:997px) {
    .section1 h2 {
        float: left;
    }
    .section1 p {
        float: right;
    }
    .mb30 {
        margin-bottom: 30px;
    }
    .center {
        text-align: center;
    }
}